@import 'variables';

.exchange {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;

    &__backgroundImg {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        background-image: url('../../assets/img/Bitcoin.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text {
        width: 90%;
        min-width: 280px;
        max-width: 980px;
        margin: 0 auto;

        h2 {
            margin-bottom: 30px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $black;
        }

        p {
            margin-bottom: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6rem;
            color: #757575;
        }
    }
}