@import 'variables';
@import 'mixintable';

.exchange {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;

    &__backgroundImg {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        background-image: url('../../assets/img/Bitcoin.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text {
        width: 90%;
        min-width: 280px;
        max-width: 980px;
        margin: 0 auto;

        h2 {
            margin-bottom: 30px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $black;
        }

        p {
            margin-bottom: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6rem;
            color: #757575;
        }
    }

    .currency {
        &__table {
            @include table;
        }

        &__table-title {
            @include table-title;
            color: $bitcoin-orange;
        }

        &__table-container {
            @include table-container;
        }

        &__table-right {
            @include table-right;
        }

        &__table-top-left {
            @include table-top-left;
        }

        &__table-top-right {
            @include table-top-right;
        }

        &__table-bottom-left {
            @include table-bottom-left;
        }

        &__table-bottom-right {
            @include table-bottom-right;
        }

        &__icon-down {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            background-image: url('../../assets/icons/trending-down.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__icon-up {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            background-image: url('../../assets/icons/trending-up.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        &__table-date {
            @include table-date;
            background-color: $soft-orange;
        }
    }

    .comission {
        &__table {
            @include table;
        }

        &__table-title {
            @include table-title;
            color: $secondary-blue;
        }

        &__table-container {
            @include table-container;
        }

        &__table-right {
            @include table-right;
        }

        &__table-top-left {
            @include table-top-left;
        }

        &__table-top-right {
            @include table-top-right;
        }

        &__table-bottom-left {
            @include table-bottom-left;
        }

        &__table-bottom-right {
            @include table-bottom-right;
        }
    
        &__table-date {
            @include table-date;
            background-color: $soft-blue;
        }
    }
}