.plans {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;

    &__title-container {
        @include title;
        
        h2 {
            padding-top: 50px;
            margin-bottom: 10px;
            color: $black;
        }
        
        p {
            padding-top: 30px;
            color: #757575
        }
    }

    &__card-container-recomended {
        @include plans-card-container;
    }

    &__text-recomended {
        @include plans-type;
        background-color: $bitcoin-orange;
    }

    &__card-title {
        @include plans-card-title;
    }

    &__card-price {
        @include plans-card-price;
    }

    &__card-saving {
        @include plans-card-saving;
    }

    &__card-ca {
        @include plans-button;
    }

    &__card-container-basic {
        @include plans-card-container;
    }

    &__text-basic {
        @include plans-type;
        background-color: $secondary-blue;
    }

    &__card-container-limited {
        @include plans-card-container;
        background-color: $black;
    }

    &__text-limited {
        @include plans-type;
        background-color: $grey;
        color: $warm-black;
    }

    &__card-title-limited {
        @include plans-card-title;
        color: $just-white;
    }

    &__card-price-limited {
        @include plans-card-price;
        color: $just-white;
    }

    &__card-ca-limited {
        @include plans-button;
        background-color: $warm-black;
        color: $just-white;
    }


}