.plans {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;

    &__title-container {
        @include title;
        
        h2 {
            padding-top: 50px;
            color: $black;
        }
        
        p {
            padding-top: 30px;
            color: #757575
        }
    }
}