.plans {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;

    &__title-container {
        @include title;
        
        h2 {
            padding-top: 50px;
            margin-bottom: 10px;
            color: $black;
        }
        
        p {
            padding-top: 30px;
            color: #757575
        }
    }

    &__card-container {
        position: relative;
        width: 70%;
        min-width: 230px;
        max-width: 300px;
        height: 250px;
        margin: 50px auto 0;
        padding: 0 15px;
        background-color: $just-white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    }

    &__text-recomended {
        position: absolute;
        width: 120px;
        height: 31px;
        left: calc(50% - 60px);
        top: -15px;
        font-size: 1.2rem;
        padding: 6px;
        background-color: $bitcoin-orange;
        border-radius: 8px;
        color: $just-white;
    }

    &__card-title {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: $black;
    }

    &__card-price {
        padding: 5px 0;
        font-size: 5.2rem;
        font-weight: bold;
        line-height: 5.3rem;
        color: $black;

        span {
            font-size: 1.2rem;
            font-weight: 300;
            vertical-align: 2.5rem;
        }
    }

    &__card-saving {
        font-size: 1.2rem;
        color: #757575;
    }
}