.product {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: $warm-black;

    &__batata-logo {
        position: absolute;
        width: 40px;
        height: 25px;
        top: -10px;
        left: calc(50% - 20px);
        background-image: url("../../assets/icons/batata.svg");
    }

    &__title-container {
        @include title;
        text-align: center;
        margin-top: 50px;

        h2 {
            color: $just-white;
        }

        p{
            margin-bottom: 20px;
            color: #808080;
        }
    }

    &__card-detail {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: $black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

    }

    &__clock-icon {
        @include card-icon;
        background-image: url('../../assets/icons/clock.svg');
    }

    &__eye-icon {
        @include card-icon;
        background-image: url('../../assets/icons/eye.svg');
    }

    &__dollar-icon {
        @include card-icon;
        background-image: url('../../assets/icons/dollar-sign.svg');
    }

    &__check-icon {
        @include card-icon;
        background-image: url('../../assets/icons/check-circle.svg');
    }

    &__card-title {
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: $just-white;
    }

    &__card-body {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #808080;
    }
}