@import 'variables';
@import 'mixins';
@import 'header';
@import 'exchange';
@import 'product';
@import 'bitcoinbaby';
@import 'plans';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

main {
    width: 100%;
    height: auto;
    background-color: $off-white;
}